body {
    background-color: beige;
    font-family: 'Times New Roman';
}

h1 {
text-align: center;
color: rgb(28, 80, 179);
font-size: 300%;
background-color: turquoise;
}

p{
color: blue;
font-size: 150%;
font-style: italic;
font-weight: bold;
}

h2{
color: rgb(70, 40, 177);
font-size: 120%;
background-color: cyan;
}